.jqmWindow2 {
    display: none;
    position: fixed;
    top: 0% !important;
    left: 0% !important;
    margin-left: -300px;
    width: 110%;
    background-color: #EEE;
    color: #333;
    border: 1px solid black;
    padding: 0px !important;
}

.stips{
  float:right;
  font-size: 14px;
  margin-right: 300px;
  color: #5b60ac;
  display:none;
}

.arrow_box{animation: glow 800ms ease-out infinite alternate; }
@keyframes glow {
    0% {
    }
    100% {
      box-shadow: 0 0 5px rgb(221 159 75), 0px 0px 25px 5px rgb(221 159 75), 0 1px 0 rgb(221 159 75);
    }
}


.growl-notification.position-bottom-center, .growl-notification.position-bottom-left{
    width: 300px !important;
}


.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.35;
    
}

.big{
  font-size: 18px;
  font-weight:600;
}

.content0 {
 
  align-items: left;
  justify-content: left;
  width: 100px;
  height:150px;
  visibility:hidden;
  margin-top: 274px;
  margin-left: 30px;
  margin-right: 20px;
}

.content {
 
  align-items: left;
  justify-content: left;
  width: 900px;
  margin: 0px auto;
  display: inline-block;
  padding-top: 12px;
}

.content2 {
    float: left;
    justify-content: left;
    width: 170px;
    visibility: hidden;
    margin-top: 274px;
    margin-right: 30px;
    margin-left: 20px;
}

/* Page structure */
.wrapper {
  min-height: var(--wrapper-height);
  width: 100%;
  place-items: ;
  display: flex;
  flex-direction: row;
}

.rzone{
  min-height: 1100px;
  width:900px
}

/******************************************************************************
START Glitch hello-app default styles

The styles in this section do some minimal CSS resets, set default fonts and 
colors, and handle the layout for our footer and "Remix on Glitch" button. If
you're new to CSS they may seem a little complicated, but you can scroll down
to this section's matching END comment to see page-specific styles.
******************************************************************************/






  #root {
    margin: 0 auto;
    width: 899px;
    column-count: 3;
    column-gap: 20px;

  }
  .rzoneside {
    width: 250px;
    background-color: #FF7878;
  }
  /* 每一列图片包含层 */
  .item {
    margin-bottom: 20px;
    /* 防止多列布局，分页媒体和多区域上下文中的意外中断 */
    break-inside: avoid;
    background: #f8f7f8;
    border-radius: 5px;
    padding:10px;
  }
  .item:hover {
    /* box-shadow: 3px 0px #a2a4c6; */
  }
  /* 图片 */
  .itemImg {
    width: 100%;
    vertical-align: middle;
  }

  .interava {
    vertical-align: middle;
    width: 50px;
    float:left;
  
  }
  .username {
    margin-left: 5px;
    font-size: 20px;
    line-height: 55px;
  }
  
  .textInfo {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .Btn{
    border-top: 1px solid #d7d7d7;
    padding: 5px 0px;
    height:36px;
  }
  
  .btn17{
    font-family: inherit;
    font-size: 14px !important;  
    background: #5b60ac;
    border: 1px solid #64669f;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 0px 4px !important;  
    color: white;
    line-height:20px;
    
  }
  .btn17c{
    font-family: inherit;
    font-size: 14px !important;  
    background: #5b60ac;
    border: 1px solid #64669f;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 0px 4px !important;  
    color: white;
    line-height:20px;
    
  }
  .imgbtn{
    height: 14px;
    vertical-align: middle;
    margin-bottom: 2px;
    
  }
  .cnt{
    background-color: #5b5f69;
    padding: 0px 6px;
    border-radius: 3px;
    color: #fbff00;
  }
  .order{
    text-align:center;
    line-height:26px;
    loat:left; 
    width:100%; 
    height:27px; 
    border-radius:5px 0px 0px 5px;
    background-color:#5b60ac;
    margin:0px 1px 2px 0px;
  }
  .order2{
    text-align:center;
    line-height:26px;
    loat:left; 
    width:100%; 
    height:27px; 
    border-radius:5px;
    background-color:#5b60ac;
    margin:0px 1px 2px 0px;
  }
  .self{
    background-color: rgba(82, 83, 88, 0.56);
    padding: 2px 7px 2px 6px;
    font-size: 13px;
    float: right;
    margin-top: 16px;
    color: white;
    border-radius: 5px;
  }

  .szan{
    font-weight: 900;
    color: #ff7575;
  }
  .scai{
    font-weight: 900;
    color: #ff7575;
  }





















/* Our default values set as CSS variables */
:root {
  --color-bg: white;
  --color-text-main: #000000;
  --color-primary: #D7F5EF;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

/* Our remix on glitch button */
.corner--remix {
  font-family: HK Grotesk;
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  line-height: 1rem;
  font-weight: 500;
  height: 2.75rem;
  align-items: center;
  cursor: pointer;
  border: 1px solid #000000;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
  white-space: nowrap;
  margin-left: auto;
}

.btn--remix {
  font-family: HK Grotesk;
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  line-height: 1rem;
  font-weight: 500;
  height: 2.75rem;
  align-items: center;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
  white-space: nowrap;
  margin-left: auto;
}
.btn--remix img {
  margin-right: 0.5rem;
}
.btn--remix:hover {
  background-color: #D0FFF1;
}

/* Navigation grid */
.footer {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto 0;
  padding: 1rem 0 0.75rem 0;
  width: 100%;
  flex-wrap: wrap;
  border-top: 4px solid #f3f3f3;
}

.footer a:not(.btn--remix):link,
a:not(.btn--remix):visited {
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  color: #000;
  text-decoration: none;
  border-style: none;
}
.footer a:hover {
  background: var(--color-primary);
}

.footer .links {
  padding: 0.5rem 1rem 1.5rem;
  white-space: nowrap;
}

.divider {
  padding: 0 1rem;
}
/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/

body {
  font-family: HK Grotesk;
  background-color: var(--color-bg);
}




p,
label {
  font-size: 1.25rem;
}

/* Title h1 style */
h1 {
  color: black;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 105%;
  margin: 2rem 0 0;
}

h3 {
  color: black;
 
}

/* Very light scaling for our illustration */
.illo-container {
  display: flex;
  justify-content: flex-end;
}
.illustration {
  max-width: 100%;
  max-height: 150px;
  margin-top: 1rem;
}

/* Styles for our poll form and its results */
.poll-form,
.poll-results {
  background-color: #f8f7f8;
  padding: 1px 16px 16px 16px;
  border-radius: 8px;
}
.poll-form button:hover {
  cursor: pointer;
  box-shadow: -8px 4px 20px var(--color-primary);
}
button,
input {
  font-family: inherit;
  font-size: 100%;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
}
button {
  cursor: pointer;
}
label {
  color: #000000;
  font-weight: bold;
}

/* Instructions */
.instructions {
  margin: 1rem auto 0;
}
.instructions p {
  font-size: 1rem;
}
h2 {
  color: black;
}

/* Admin page */
table {
  text-align: left;
  border-collapse: collapse;
  background-color: #FFF3FC;
}
td,
th {
  border: 2px solid #FFFFFF;
  padding: 0.5rem;
}
p a {
  text-decoration: none;
  font-weight: bold;
}
p.error,
p.error a:link,
p.error a:visited {
  color: #2800FF;
}
.results {
  padding-top:10px;
}








/* jqModal base Styling courtesy of;
	Brice Burgess <bhb@iceburg.net> */

/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
	the Window's z-index value will be set to 3000 by default (via jqModal.js). */
	
.jqmWindow {
    display: none;
    
    position: fixed;
    top: 17%;
    left: 50%;
    
    margin-left: -300px;
    width: 400px;
    
    background-color: #EEE;
    color: #333;
    border: 1px solid black;
    padding: 12px;
}

.jqmOverlay { background-color: #000; }

/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
* iframe.jqm {position:absolute;top:0;left:0;z-index:-1;
	width: expression(this.parentNode.offsetWidth+'px');
	height: expression(this.parentNode.offsetHeight+'px');
}

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqmWindow {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}