<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8" />
  <link rel="icon" href="{{site.ico}}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{{site.title}}</title>

  <link rel="stylesheet" href="/style.css" />
 
  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
  <script src="/notice/driver.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/driver.js/dist/driver.min.css">
  
  
  <script src="/avataaars.js"></script>
  
  <script type="text/javascript">
    
$(function(){
    /*const driver = new Driver();
    // Define the steps for introduction
    driver.defineSteps([
      {
        element: '.p1a',
        popover: {
          showCloseButton: false,
          className: 'first-step-popover-class',
          title: 'Title on Popover',
          description: 'Body of the popover',
          position: 'right'
        }
      },
      {
        element: '#p1b',
        popover: {
          showCloseButton: false,
          title: 'Title on Popover',
          description: 'Body of the popover',
          position: 'top'
        }
      },
      {
        element: '#p1c',
        popover: {
          showCloseButton: false,
          title: 'Title on Popover',
          description: 'Body of the popover',
          position: 'right'
        }
      },
      {
        element: '#p1d',
        popover: {
          showCloseButton: false,
          title: 'Title on Popover',
          description: 'Body of the popover',
          position: 'right'
        }
      },
    ]);
    // Start the introduction
    driver.start();*/
    $(".driver-close-btn").hide();
    $.ajax({
       type:'get',
       dataType:'json',
       url:'/qCount',
       success:function(data){
           $("#counter").text(data.count[0]["count(id)"]);
       }
    });
 
    
  
 });   
    
    
    
  </script>

</head>

<body>
 
  
  <div class="wrapper">
    <div class="content" role="main">
      <div class="rzone" id="p1_content">
          <br><br><br><br>当前文献数量：<span id="counter"></span><br><br>
          <input style="height:300px; width:150px"/>
      </div>
    </div>
  </div>
  <!-- The footer holds our remix button — you can use it for structure or cut it out ✂ -->
  <footer class="footer">
    <div class="links"></div>
    <a href="/">Home</a>
    <span class="divider">|</span>
    <a href="/logs">Admin</a>
    <a class="corner--remix" target="_top" href="#">
      Powered by Glitch <span class="divider">|</span> Designed by Universiteit Utrecht
    </a>
  </footer>
</body>

<script>
  </script>
</html>
